body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



/*Our CSS*/
.navbar-inverse {
    width: 232px;
}

h2 .appname {
    position:absolute;
    margin:30px;
}

h1 {
    margin: 30px;
}

.navbar-nav > li {
    margin: auto;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    float:none;
}

.navbar-nav {
    float: left;
    margin: 0;
}

.maketopborder {
    border-top: 1px solid #000000;
}

.loginposition {
    float: right;
    margin: 30px;
    list-style-type: none;
}

.loginposition > ul {
    list-style-type: none;
}

.col-md-2,maketopborder {
    padding-left:0;
}
.btn-floatright {
    float:right;
    margin:20px;
}

#btnhomecreate {
    float: right;
    margin: 10px;
    margin-right: 50px;
}
