<%
var load = getLoadById(LoadNumber);
var data = arguments[0];

%>
<div class="movie-tooltip">
    <div class="movie-info">
        <div class="movie-title">
            Status: <%= load.Status.Name %>
        </div>
        <div>
            Load Number: <%= load.LoadNumber %>
        </div>
        <div>
            Customer: <%= load.Customer.FirstName %> <%= load.Customer.LastName %>
        </div>
    </div>
    <br />
    @(Html.DevExtreme().Button()
                .Text("Edit details")
                .Type(ButtonType.Default)
                .OnClick(@<text>
                    function() {
                    getSchedulerInstance().showAppointmentPopup(data, false);
                    }
                </text>)
    )
</div>